<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411069007-ie3eg5boe6gavgaffapdmlkgu18ihig8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411069007-ie3eg5boe6gavgaffapdmlkgu18ihig8</string>
	<key>API_KEY</key>
	<string>AIzaSyB_18xZIFwXiaFUtJnymSXXaP96jszBpEs</string>
	<key>GCM_SENDER_ID</key>
	<string>411069007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammadAwais.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>ios-project-63078</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-63078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411069007:ios:d66ee4d303a1c585</string>
	<key>DATABASE_URL</key>
	<string>https://ios-project-63078.firebaseio.com</string>
</dict>
</plist>